<h1 id="greeting">
  Welcome to TrafficSpy!
</h1>

<%= erb :'_url_breakdown' %>

<%= erb :'_browser_breakdown' %>

<%= erb :'_operating_system_breakdown' %>

<%= erb :'_resolution_breakdown' %>

<%= erb :'_avg_response_time' %>


